name: Reassemble and Unzip Split Files

permissions:
  contents: write

on:
  push:
    paths:
      - 'Studio.part*'
    branches:
      - main

jobs:
  unzip:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository content
        uses: actions/checkout@v2

      - name: List files (before reassembly)
        run: ls -la

      - name: Reassemble split parts into zip file
        run: |
          cat Studio.part* > Studio.zip
          ls -la Studio.zip  # List to confirm reassembly
          file Studio.zip    # Check the file type to ensure it's a valid zip

      - name: Unzip reassembled zip file
        run: |
          unzip Studio.zip -d unzipped_files
          ls -la unzipped_files

      - name: Commit unzipped files
        env:
          GITHUB_TOKEN: ${{ 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 }}  # Use the PAT_TOKEN here
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add unzipped_files/*
          git commit -m "Add unzipped files"
          git push https://x-access-token:${{ secrets.PAT_TOKEN }}@github.com/Realowg/studiov2.git
